#form {
    text-align: center;
    background-color: hsl(0, 0%, 51%);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 2px 1px 5px black;
}

#form #lab {
    font-size: 25px;
    color: hsl(253, 36%, 20%);
}

#form #inp {
    padding: 10px;
    width: 700px;
    font-size: 20px;
    border: 3px solid hsl(252, 21%, 37%);
    border-radius: 30px;
    text-align: center;
}

#form #date {
    padding: 10px;
    width: 700px;
    font-size: 20px;
    border: 3px solid hsl(252, 21%, 37%);
    border-radius: 30px;
    text-align: center;
}

#form #sub {
    padding: 10px;
    width: 200px;
    color: white;
    background-color: hsl(120, 13%, 43%);
    border: 2px solid hsl(252, 21%, 37%);
}

#form #sub:hover {
    background-color: hsl(120, 27%, 63%);
    cursor: pointer;
}